.signup-wg-container {
    background-color: white;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 2rem;
    align-items: center;
}

.signup-wg-title, .signup-wg-return-btn {
    flex: 0 0 auto;
}

.signup-wg-form {
    flex: 1;
    overflow: auto;
}