.category-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); /* התאמה אוטומטית לרוחב האלמנט */
    gap: 1rem; /* מרווח בין הכרטיסיות */
    padding: 0 20px; /* ריווח פנימי משני הצדדים */
    margin: 0 auto; /* מרכז את הרשת */
    max-width: 1200px; /* מגביל את הרוחב המרבי של התוכן */
    padding-bottom: var(--content-block-padding);
    padding-top: var(--content-inline-padding);
}

.category-list {
    display: flex;
    flex-wrap: wrap; /* מאפשר עימוד אוטומטי של כרטיסיות בשורות נוספות אם יש צורך */
    gap: 20px; /* מרווח בין כל כרטיסייה */
}

.article-card {
    width:200px; /* רוחב קבוע לכרטיסייה */
    height: 320px; /* גובה קבוע לכרטיסייה */
    margin-bottom: 1rem; /* צמצום המרווח התחתון של הכרטיסיות */
    background-color: rgba(255, 255, 255, 0.7);
    border: 2px solid #ddd;
    border-radius: 10px;
    color: #333;
    padding: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, background-color 0.3s ease;
}



.category-card:hover {
    background-color: rgba(255, 255, 255, 0.9); /* צבע לבן עם שקיפות של 90% בעת ריחוף */
    transform: translateY(-5px); /* הזזה קטנה כלפי מעלה */
    box-shadow: 0 8px 10px rgba(0, 0, 0, 0.2); /* צל גדול יותר בריחוף */
}

.card-content {
    flex: 1;
}

.card-actions {
    display: flex;
    justify-content: space-between; /* מניח את הכפתורים בצדדים */
    margin-top: 10px;
}

.card-actions button {
    padding: 8px 12px;
    border: none;
    border-radius: 4px;
    background-color: #007BFF;
    color: white;
    cursor: pointer;
}

.card-actions button:hover {
    background-color: #0056b3; /* שינוי צבע כפתור בעת ריחוף */
}

.articles-page-container {
    --content-block-padding: 6rem;
    --content-inline-padding: 6rem;

    min-height: 100%;
    background-image: url(/public/images/w9.jpg);
    background-size: cover;  /* מותאם לגודל האלמנט */
    background-position: center; /* מיקום התמונה במרכז */
    background-repeat: no-repeat; /* תמונה לא תחזור על עצמה */
}

.articles-page-container h2 {
    text-align: center; /* ממרכז את הטקסט */
    margin-bottom: 2rem; /* מוסיף ריווח תחתון לכותרת כדי להפריד אותה מהכרטיסיות */
    font-size: 2rem; /* גודל גופן */
    color: #333; /* צבע גופן */
    font-weight: bold; /* הופך את הטקסט למודגש */
    text-transform: uppercase; /* הופך את הטקסט לאותיות גדולות */
    letter-spacing: 2px; /* מוסיף מרווח בין האותיות */
}
